@import 'var';

.footer {
    box-sizing: border-box;
    padding: 40px 0;
    background-color: $darkBlue1;

    &__inner-wrapper {
        box-sizing: border-box;
        padding: 0 20px;
        max-width: $maxWidth;
        margin: auto;

        @media (min-width: 481px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.footer-block {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        font-family: $regularFont;
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.icon-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    svg {
        display: block;
        margin-right: 20px;
        width: 40px;
        height: 40px;
        fill: $grey;
    }

    a {
        text-decoration: none;
        color: $grey;
    }
}

.caret-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: $grey;
    padding-left: 20px;
    margin-bottom: 10px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-left: 5px solid $blue;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
}

.copyright {
    box-sizing: border-box;
    padding: 40px 0;
    background-color: $blue;
    color: $white;
    text-align: center;
}