@import 'var';

/*
---	VARIABLES ------------------------------------------------------------------*/

$muted-color: mix(white, $black, 70%);
$width: 100%;

.form {
    *,
    :before,
    :after {
        box-sizing: border-box;
    }

    form {
        width: $width;
        margin: 45px auto;

        h1 {
            font-size: 3em;
            font-weight: 300;
            text-align: center;
            color: $blue;
        }

        h5 {
            text-align: center;
            text-transform: uppercase;
            color: $muted-color;
        }

        hr.sep {
            background: $blue;
            box-shadow: none;
            border: none;
            height: 2px;
            width: 25%;
            margin: 0 auto 45px auto;
        }

        .emoji {
            font-size: 1.2em;
        }
    }

    .group {
        position: relative;
        margin-bottom: 20px;
    }

    .group:last-child {
        margin-bottom: 0;
    }

    /*
    ---	INPUTS ------------------------------------------------------------------*/

    textarea {
        resize: none;
    }

    input, textarea {
        background: none;
        color: $muted-color;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: $width;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $muted-color;

        &:focus {
            outline: none;
        }

        &:focus ~ label,
        &:valid ~ label {
            top: -14px;
            font-size: 12px;
            color: $blue;
        }

        &:focus ~ .bar:before {
            width: $width;
        }
    }

    input[type="password"] {
        letter-spacing: 0.3em;
    }

    label {
        color: $muted-color;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: $transition;
    }

    .bar {
        position: relative;
        display: block;
        width: $width;

        &:before {
            content: '';
            height: 2px;
            width: 0;
            bottom: 0;
            position: absolute;
            background: $blue;
            transition: $transition;
            left: 0;
        }
    }

    /*
    ---	BUTTONS ------------------------------------------------------------------*/

    .btn {
        background: #fff;
        color: mix(black, $muted-color, 25%);
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-decoration: none;
        outline: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        &:hover {
            color: mix(black, $muted-color, 30%);
            box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
        }

        &.btn-link {
            background: $blue;
            color: mix(white, $blue, 80%);

            &:hover {
                background: darken($blue, 5%);
                color: mix(white, $blue, 85%);
            }
        }

        &.btn-submit {
            background: $blue;
            color: mix(white, $blue, 70%);

            &:hover {
                background: darken($blue, 5%);
                color: mix(white, $blue, 85%);
            }
        }

        &.btn-cancel {
            background: #eee;

            &:hover {
                background: darken(#eee, 5%);
                color: mix(black, $muted-color, 30%);
            }
        }
    }

    .btn-box {
        text-align: left;
    }
}