@import 'var';

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    background-color: $transparentBlue;
    transition: $transition;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px;
        max-width: $maxWidth;
        height: 80px;
        margin: 0 auto;

        @media (min-width: 1025px) {
            height: 120px;
        }
    }

    &__logo {
        height: 100%;

        img {
            display: block;
            height: 100%;
        }
    }
}

.header--narrow {
    background-color: $blue;

    @media (min-width: 769px) {
        .header__logo {
            height: 60px;
        }

        .header-menu__phone {
            display: none;
        }
    }

    @media (min-width: 1025px) {
        .header__content {
            height: 100%;
        }
    }
}

.header-menu {
    display: none;

    @media (min-width: 1025px) {
        display: block;
    }

    &__phone {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: $white;
        font-weight: 700;
        margin-bottom: 10px;
        margin-right: 10px;

        img {
            display: block;
            margin-right: 10px;
            width: 20px;
        }
    }

    menu {
        display: flex;
        margin: 0;

        li {
            list-style: none;
            margin: 10px;

            a {
                text-decoration: none;
                color: $black1;
                font-weight: 700;
            }

            a.active {
                color: $white;
            }
        }
    }
}