@import 'var';

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: $regularFont;
    font-size: 14px;
    line-height: 1.3;
    color: $black;
    background-color: $white;

    &.no-scroll {
        overflow: hidden;
    }
}

section {
    box-sizing: border-box;
    padding: 40px 20px;
    max-width: $maxWidth;
    margin: 0 auto;
}

.main-screen {
    position: relative;
    display: flex;
    align-items: center;

    &__inner-wrapper {
        display: block;

        @media (min-width: 769px) {
            width: 50%;
            margin-left: auto;
        }
    }

    &__content {
        position: relative;
        box-sizing: border-box;
        max-width: $maxWidth;
        padding: 80px 20px;
        margin: 0 auto;
        width: 100%;

        p {
            display: block;
            margin-bottom: 40px;
            font-size: 18px;
            font-family: $regularFont;
            color: $white;
            text-shadow: $black1 0 0 5px;
            font-weight: 500;
        }

        h2 {
            display: block;
            margin-bottom: 20px;
            font-size: 24px;
            font-family: $boldFont;
            color: $white;
            text-shadow: $black1 0 0 5px;
            font-weight: 700;
        }

        @media (min-width: 769px) {
            p {
                text-align: right;
                color: $black1;
                text-shadow: $white 0 0 5px;
            }

            h2 {
                text-align: right;
                color: $black1;
                text-shadow: $white 0 0 5px;
            }

            .get-call-form {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

/*
---	GET CALL FORM ------------------------------------------------------------------*/

.get-call-form {
    display: flex;

    input {
        display: block;
        font-family: $regularFont;
        box-sizing: border-box;
        padding: 10px;
        background-color: $white;
        color: $black1;
        border: 1px solid $black1;
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        outline: none;
        transition: $transition;
    }

    button {
        display: block;
        font-family: $regularFont;
        box-sizing: border-box;
        padding: 10px;
        background-color: $darkBlue;
        outline: none;
        cursor: pointer;
        color: $black1;
        border: 1px solid $black1;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: $transition;

        &:hover {
            background-color: $blue;
        }
    }
}

.order-call {
    .header-content {
        flex-direction: column;

        .header-logo {
            margin-bottom: 20px;
        }

        @media (min-width: 769px) {
            flex-direction: row;

            .header-logo {
                margin-bottom: 0;
            }
        }
    }

    .get-call-form {
        align-items: center;

        label {
            display: none;
        }

        @media (min-width: 769px) {
            label {
                display: block;
                font-family: $boldFont;
                color: $white;
                margin-right: 10px;
            }
        }
    }
}

.header.order-call {
    position: static;
    background-color: $blue;
}

.header.order-call .header-content {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: $maxWidth;

    @media (min-width: 581px) {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-logo {
        height: 60px;
    }
}

/*
---	SERVICE ITEM ------------------------------------------------------------------*/

.service-item {
    box-sizing: border-box;
    padding: 40px;

    &:nth-child(1) {
        background-color: #43b1d2;
    }

    &:nth-child(2) {
        background-color: #3fb6c6;
    }

    &:nth-child(3) {
        background-color: #3cbbbb;
    }

    &:nth-child(4) {
        background-color: #37c3a8;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px auto;
        background-color: $white;
        border-radius: 50%;
        width: 90px;
        height: 90px;

        svg {
            display: block;
            width: 60px;
            height: 60px;
            fill: $black1;
        }
    }

    h3 {
        display: block;
        margin-bottom: 20px;
        font-size: 19px;
        text-align: center;
        color: $white;
        font-family: $boldFont;
        font-weight: 700;
    }

    p {
        text-align: center;
        color: $white;
    }
}

/*
---	TAB NAV ------------------------------------------------------------------*/

.tab-nav {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid $borderColor;

    li {
        float: left;
        margin-bottom: -1px;

        a {
            float: left;
            outline: none;
            font-family: $boldFont;
            font-weight: 500;
            text-transform: uppercase;
            color: $blue;
            text-decoration: none;
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            transition: $transition;

            &:hover {
                color: $black1;
            }
        }
    }

    li.active {
        a {
            cursor: default;
            color: $black1;
            background-color: $white;
            border: 1px solid $borderColor;
            border-bottom-color: transparent;

            &:hover {
                cursor: default;
                color: $black1;
                background-color: $white;
                border: 1px solid $borderColor;
                border-bottom-color: transparent;
            }

            &:focus {
                cursor: default;
                color: $black1;
                background-color: $white;
                border: 1px solid $borderColor;
                border-bottom-color: transparent;
            }
        }
    }
}

.tab-content {
    float: left;
    width: 100%;

    .tab-pane {
        display: none;
    }

    .tab-pane.active {
        display: block;
        padding: 20px;
        border-right: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
    }

    .active {
        display: block;
    }
}

/*
---	CLINIC ITEM ------------------------------------------------------------------*/

.clinic-item-grid {
    display: block;

    @media (min-width: 769px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

.clinic-item {
    border: 2px solid $blue;
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__inner-wrapper {
        display: grid;
        box-sizing: border-box;
        padding: 20px;
    }

    &__image {
        display: block;
        height: 60px;
    }

    &__title {
        font-family: $boldFont;
        font-size: 24px;
        font-weight: 700;
        color: $black1;
        margin-bottom: 10px;
    }

    &__address {
        display: block;
        font-family: $regularFont;
        font-style: italic;
        font-size: 12px;
        color: $blue;
        margin-bottom: 20px;
    }

    &__description {
        display: block;
        margin-bottom: 10px;
    }

    &__phone {
        display: block;
        font-weight: 700;
        text-decoration: none;
        color: $black1;
        margin-bottom: 20px;
    }

    @media (min-width: 769px) {
        margin-bottom: 0;
    }

    @media (min-width: 1025px) {
        &__inner-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        &__image {
            grid-column: 1;
        }

        &__title {
            grid-column: 1;
        }

        &__address {
            margin-bottom: 0;
        }

        &__description {
            grid-column: 1 / 3;
            margin-bottom: 0;
        }

        &__phone {
            grid-column: 1;
            align-self: center;
            margin-bottom: 0;
        }

        .button {
            grid-column: span 1;
            margin-left: auto;
        }
    }
}

.button {
    display: block;
    width: fit-content;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    color: $white;
    background-color: $blue;
    border-radius: 4px;
    border: none;
    transition: $transition;

    :hover {
        background-color: $black1;
    }

    &--centered {
        margin: 20px auto 0 auto;
    }
}

/*
---	NEWS AND REVIEWS ------------------------------------------------------------------*/

.news {
    margin-bottom: 40px;

    @media (min-width: 769px) {
        margin-bottom: 0;

        &__block {
            box-sizing: border-box;
            padding: 0 20px;
            float: left;
            width: 50%;
        }
    }
}

.article-item {
    img {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 200px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    p {
        display: block;
        color: $black1;
        margin-bottom: 20px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .button {
        margin-left: auto;
    }

    @media (min-width: 481px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

.service-item-list {
    @media (min-width: 481px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }

    @media (min-width: 769px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1025px) {
        grid-template-columns: repeat(4, 1fr);
    }
}
