@import 'var';

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 55, 55, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &__content {
        a {
            display: block;
            margin: auto;
            width: fit-content;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            border-radius: 50px;
            border: 2px solid transparent;
            color: $white;
            font-weight: 700;
        }
    }

    &__item {
        text-decoration: none;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;

        span {
            display: block;
            font-family: $boldFont;
        }
    }

    &__item.active {
        color: $blue;
        border: 2px solid $blue;
    }

    &__open {
        display: block;

        @media (min-width: 1025px) {
            display: none;
        }

        svg {
            display: block;
            width: 30px;
            height: 30px;
            fill: $white;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;

        svg {
            display: block;
            width: 30px;
            height: 30px;
            fill: $white;
        }
    }
}
