@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Tablet - min-width: 481px */
/* Laptop - min-width: 769px */
/* Desktop - min-width: 1025px */
/* Extra - min-width: 1201px */

/*
---	VARIABLES ------------------------------------------------------------------*/

$regularFont: 'Open Sans', sans-serif;
$boldFont: 'Montserrat', sans-serif;

$maxWidth: 1200px;

$black: #000000;
$black1: #494848;
$white: #ffffff;
$grey: #9fa2a7;

$borderColor: #dddddd;

$blue: #43b1d2;
$transparentBlue: rgba(67, 177, 210, 0.6);
$darkBlue: #cbd4e6;
$darkBlue1: #e5e9f2;

$transition: all 300ms ease;

.clear {
    float: none;
    clear: both;
    display: block;
}

.padding0 {
    padding: 0;
}